body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  --ship-colour: rgb(235, 232, 232);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: black;
  min-width: 100vw;
  padding: 3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  font-family: "Anton", sans-serif;
  font-size: 4em;
  background-image: linear-gradient(
    90deg,
    white,
    rgb(71, 71, 126) 30%,
    white 50%
  );
  background-size: 300%;
  background-position-x: 100%;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: 1.5s ease-in-out 1 title-animation;
  position: absolute;
}

@keyframes title-animation {
  0% {
    left: -100%;
  }
  50% {
    left: calc(50% - 135px);
    background-position-x: 100%;
  }
  100% {
    background-position-x: -200%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.575);
}

.board-labels {
  color: black;
  padding: 1em;
  margin: 0;
  font-weight: 900;
}

.text-box {
  margin: 0;
}

.board-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  background-color: #ffffff;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 1em;
  background-color: rgb(149, 222, 255);
  border: 3px solid #676767;
}

.tile {
  border: solid rgb(187, 239, 255) 1px;
  background-color: rgb(149, 222, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  position: relative;
  box-sizing: border-box;
}

.inactive {
  border: solid rgb(179, 207, 216) 1px;
  background-color: rgb(122, 173, 197);
}

.inactive-board {
  background-color: rgb(122, 173, 197);
}

.hit::before {
  background-color: rgb(165, 0, 0);
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  content: "";
}

.sunk::before {
  box-shadow: 0 0 4px 2px black;
}

.miss::before {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  content: "";
}

.ship::before {
  background-color: rgb(75, 75, 75);
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  content: "";
}

.ship-single-tile {
  background-color: var(--ship-colour);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}

.ship-start-horizontal {
  background-color: var(--ship-colour);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-right: 1px var(--ship-colour) solid;
}

.ship-middle-horizontal {
  background-color: var(--ship-colour);
  border-left: 1px var(--ship-colour) solid;
  border-right: 1px var(--ship-colour) solid;
}

.ship-end-horizontal {
  background-color: var(--ship-colour);
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  border-left: 1px var(--ship-colour) solid;
}

.ship-start-vertical {
  background-color: var(--ship-colour);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 1px var(--ship-colour) solid;
}

.ship-middle-vertical {
  background-color: var(--ship-colour);
  border-top: 1px var(--ship-colour) solid;
  border-bottom: 1px var(--ship-colour) solid;
}

.ship-end-vertical {
  background-color: var(--ship-colour);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  border-top: 1px var(--ship-colour) solid;
}

.clickable-tile {
  cursor: pointer;
}

.clickable-tile:hover {
  background-color: rgb(122, 173, 197);
}

.btn-wrapper {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0.5em 1em;
  width: 18em;
  margin: 0.5em 1em;
  border: none;
  border-radius: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Anton", sans-serif;
}

.hidden {
  opacity: 0;
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 0.5em;
}

.link {
  text-decoration: none;
  color: rgb(149, 222, 255);
}
