body {
  margin: 0;
  padding: 0;
}

#main {
  border: red 2px solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-wrapper {
  display: flex;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 250px;
  padding: 10px;
}

.tile {
  border: solid blue 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
}
